@{ 
    ViewBag.Button = "btn-info";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <title>HealthCare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/
          .css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-lg-2 pr-4 align-items-center">
                    <a class="navbar-brand" href="index.html">Admin Health.<span>care</span></a>
                </div>
                <div class="col-lg-10 d-none d-md-block">
                    <div class="row d-flex">
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <p class="button-custom order-lg-last mb-0"><a href="appointment.html" class="btn btn-secondary py-2 px-3">Make An Appointment</a></p>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link pl-0">Home</a></li>
                    <li class="nav-item ">@Html.ActionLink("User" , "Index" ,"Users" ,null , new { @class="btn " +ViewBag.Button+" "+ ViewBag.ButtonU , style="width:100px"} ) </li>
                    <li class="nav-item">@Html.ActionLink("Doctor", "Index", "Doctors" ,null , new { @class="btn "+ViewBag.Button +" " +ViewBag.ButtonD, style="width:100px"} )</li>
                    <li class="nav-item">@Html.ActionLink("Food", "Index", "Foods"  ,null , new { @class="btn " +ViewBag.Button+" "+ ViewBag.ButtonF, style="width:100px"})</li>
                    <li class="nav-item">@Html.ActionLink("Excercise", "Index", "Excercises" ,null , new { @class="btn " +ViewBag.Button+" "+ ViewBag.ButtonE, style="width:100px"})</li>
                    <li class="nav-item">@Html.ActionLink("Drug", "Index", "Drugs" ,null , new { @class="btn " +ViewBag.Button+" "+ ViewBag.ButtonDr, style="width:100px"})</li>
                    <li class="nav-item">@Html.ActionLink("Group", "Index", "Groups" ,null , new { @class="btn " +ViewBag.Button+" "+ ViewBag.ButtonG , style="width:100px"})</li>
                </ul>
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Ahmed Khalil , Ahmed AbuZahrah , Rana Hesham , Islam Awad , Mohammad Anter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
