
@model IEnumerable<HealthCareSite.Models.Doctor>

@{

    Layout = "~/Views/Shared/_UserMaster.cshtml";
    ViewBag.Title = "CDoctors";

}
<style>
    #team {
        background: #eee !important;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #team .card {
        border: none;
        background: #ffffff;
    }





    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }

    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
    }

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 450px;
        caret-color: red;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon {
        background: white;
        color: #e74c3c;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
    }

    .frontside,
    .frontside .card,
    .backside .card {
        min-height: 312px;
    }

        .backside .card a {
            font-size: 18px;
            color: #007b5e !important;
        }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }

        .frontside .card .card-body img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
</style>


<div class="main">
    <div class="input-group">
        <div class="container-fluid">
            <div class="row">
                @using (Html.BeginForm("Search", "Users"))
                {
                    <!-- Another variation with a button -->


                    <div class=" col-md-7 input-group-append">
                        <div class="container h-100">
                            <div class="d-flex justify-content-center h-100">
                                <div class="searchbar">
                                    <input class="search_input" type="text" name="Text" placeholder="Search...">
                                    <input type="submit" value="" class="search_icon fas fa-search">
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Default inline 1-->
                    <div class="col-md-3 custom-control custom-radio custom-control-inline btn btn-dark" style="margin-top:15px; margin-left:30px; padding-top:10px;">
                        <input type="radio" class="custom-control-input" id="defaultInline1" name="Type" value="N">
                        <label class="custom-control-label" for="defaultInline1">Name</label>
                    </div>


                    <!-- Default inline 2-->
                    <div class=" col-md-3 custom-control custom-radio custom-control-inline btn btn-dark " style="margin-top:15px; padding-top:10px;">
                        <input type="radio" class="custom-control-input" id="defaultInline2" name="Type" value="S">
                        <label class="custom-control-label" for="defaultInline2">Speciality</label>
                    </div>






                }
                <div class="col-md-3">
                    @Html.ActionLink("Connected Doctors", "Cdoc", new { Id = Request.Cookies["cookie"].Value }, new { @class = "btn btn-dark container-fluid" })
                </div>
            </div>
        </div>
    </div>
    <section id="team" class="pb-5">


        <div class="container">
            <h5 class="section-title h1">Doctors</h5>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="@item.Pic" alt="card image"></p>
                                            <h4 class="card-title">@item.Name</h4>
                                            <p class="card-text">@item.Speciality</p>
                                            @Html.ActionLink("Disconnect", "Disconnect", "Doctors", new { id = item.Doc_ID }, new { @class = "btn btn-danger " })
                                            @Html.ActionLink("Chat", "Chat", "Users", new { Id=Request.Cookies["cookie"].Value }, new { @class = "btn btn-warning" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
