@model IEnumerable<HealthCareSite.Models.Doctor>

@{

    Layout = "~/Views/Shared/_UserMaster.cshtml";
    ViewBag.Title = "Doctors";

}
<link rel="stylesheet" href="/Content/Listing.css" />

<div class="main">
    <div class="input-group">
        <div class="container-fluid">
            <div class="row">
                @using (Html.BeginForm("Search", "Users"))
                {
                    <!-- Another variation with a button -->


                    <div class=" col-md-7 input-group-append">
                        <div class="container h-100">
                            <div class="d-flex justify-content-center h-100">
                                <div class="searchbar">
                                    <input class="search_input" type="text" name="Text" placeholder="Search...">
                                    <input type="submit" value="" class="search_icon fas fa-search">
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Default inline 1-->
                    <div class="col-md-3 custom-control custom-radio custom-control-inline btn btn-dark" style="margin-top:15px; margin-left:30px; padding-top:10px;">
                        <input type="radio" class="custom-control-input" id="defaultInline1" name="Type" value="N">
                        <label class="custom-control-label" for="defaultInline1">Name</label>
                    </div>


                    <!-- Default inline 2-->
                    <div class=" col-md-3 custom-control custom-radio custom-control-inline btn btn-dark " style="margin-top:15px; padding-top:10px;">
                        <input type="radio" class="custom-control-input" id="defaultInline2" name="Type" value="S">
                        <label class="custom-control-label" for="defaultInline2">Speciality</label>
                    </div>






                }
                <div class="col-md-3">
                    @Html.ActionLink("Connected Doctors", "Cdoc", new { Id = Request.Cookies["cookie"].Value }, new { @class = "btn btn-dark container-fluid" })
                </div>
            </div>
        </div>
    </div>
    <section id="team" class="pb-5">


        <div class="container">
            <h5 class="section-title h1">Doctors</h5>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="@item.Pic" alt="card image">
                                            </p>
                                            <h4 class="card-title">@item.Name</h4>
                                            <p class="card-text">@item.Speciality</p>
                                            @Html.ActionLink("Details", "Details", "Doctors", new { id = item.Doc_ID }, new { @class = "btn btn-info " })
                                            @Html.ActionLink("Connect", "Connect", "Users", new { id = item.Doc_ID }, new { @class = "btn btn-success" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
