@model IEnumerable<HealthCareSite.Models.Food>

@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_UserMaster.cshtml";
}

<h2>Food</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutrients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vitamins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body_match)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease_mat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutrients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vitamins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body_match)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease_mat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pic)
        </td>

    </tr>
}

</table>
