@model IEnumerable<HealthCareSite.Models.User>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.ButtonU = "btn-warning";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_sugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_pressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        <td >
           <img src= "@Html.DisplayFor(modelItem => item.Pic)" style="width:200px " class="img-rounded image-popup"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_sugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease)
        </td>
        <td>
            @Html.ActionLink(" Edit  ", "Edit", new { id=item.User_ID }  ,new {  @class= "btn btn-warning"})  |
            @Html.ActionLink("Details", "Details", new { id=item.User_ID },new {  @class= "btn btn-info"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_ID },new {  @class= "btn btn-danger"})
        </td>
    </tr>
}

</table>
